datasets
huggingface_hub
fsspec
sentencepiece
pytorch_lightning
seqeval
evaluate
transformers
anls
scikit-learn
nvidia-ml-py3
wandb
pynvml
pdf2image
torchvision
python-dotenv
accelerate>=0.26.0
# sudo apt-get install poppler-utils